*{
    margin: 0px;
}
.caja1{
    border:4px dashed orange;
    
    background-color: aquamarine;
    margin: 20px;
    
}
.caja2{
    border: 2px solid blue;
    background-color:blanchedalmond;
    width: 500px;
    margin-top: -15px;
    margin-left: 30px;
}
.caja3{
    border: 2px solid #abd620;
    background-color:gold;
    width: 50%;
    margin: 20px auto;
    padding: 5px;
}
.caja4{
    border: 2px solid #abd620;
    background-color:gold;
    width: 50%;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 12px;

}